#my-music {
  height: 100%;
  width: 100%;
  color: #dfe0e6;
}

#my-music nav {
  border-bottom: 1px solid #222326;
  margin: 10px 0;
}

  #my-music nav ul {
    display: flex;
    flex-direction: row;
  }

  #my-music nav li {
    padding: 8px 0;
    margin-right: 20px;
    text-transform: uppercase;
    color: #88898c;
    font-size: 14px;
    letter-spacing: 1.1px;
    transition: color 0.4s;
  }

  #my-music nav li:hover {
    color: #D7D9DF;
    cursor: pointer;
  }

  #my-music nav li:first-of-type {
    color: #D7D9DF;
    cursor: pointer;
    box-shadow: 0px 2px 0 0 #84BD00;
    -webkit-box-shadow: 0 2px 0 0 #84BD00;
       -moz-box-shadow: 0 2px 0 0 #84BD00;
  }

#my-music main {
  height: calc( 100% - 50px );
}
