#app {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

#nav-sidebar {
  width: 90px;
  height: 100%;
  background-color: #1c1c1f;
}

#nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

#nav-logo {
  text-align: center;
  width: 100%;
}

#nav-logo img {
  width: 55px;
  height: 55px;
}

.nav-link {
  width: 100%;
  margin: 20px 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #88898c;
}

.nav-link:hover {
  cursor: pointer;
  color: #D7D9DF;
}

.active-link {
  color: #D7D9DF;
  box-shadow: -2px 0 0 0 #00b26b;
}

.nav-icon i {
  font-size: 24px;
}

.nav-icon-text p {
  margin: 3px 0;
  font-size: 11px;
}

#user-box {
  border-top: 1px solid #000000;
  padding: 10px 0;
  text-align: center;
}

// #user-box i {
//   width: 100%;
//   border-top: 1px solid #222326;
//   padding: 10px 0 0px 0;
//   font-size: 36px;
//   color: #D7D9DF;
// }

#user-box img {
  height: 60px;
  width: 60px;
  border: 1px solid #222326;
  border-radius: 50%;
  overflow: hidden;

}

#user-box p {
  font-size: .7em;
  margin: 5px 0 12px 0;
  color: #D7D9DF;
}

#user-box-user:hover img, #user-box-user:hover p {
  cursor: pointer;
  color: #fff;
  border-color: #fff;
}

#user-box button {
  border: 1px solid #88898c;
  border: none;
  background-color: #151617;
  color: #88898c;
  height: 28px;
  width: 60px;
  font-size: .5em;
  font-weight: 700;
  text-align: center;
  line-height: 0;
}

#user-box button:hover {
  background-color: #0f1010;
  color: #FFFFFF;
}

#main-window {
  width: 100%;
  height: 100%;
  min-width: 600px;
  margin-left: 5px;
}

.now-playing {
  width: 250px;
  height: 100%;
  margin-left: 5px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1c1c1f;
}

.hidden {
  display: none;
}

#audio-player-container {
  height: 100%;
}
