#app {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

#sidebar {
  display: flex;
}

#nav-sidebar {
  width: 90px;
  height: 100%;
  background-color: #1c1c1f;
}

#nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

#nav-logo {
  text-align: center;
  width: 100%;
}

#nav-logo img {
  width: 55px;
  height: 55px;
}

.nav-link {
  width: 100%;
  margin: 20px 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #88898c;
}

.nav-link:hover {
  cursor: pointer;
  color: #D7D9DF;
}

.active-link {
  color: #D7D9DF;
  box-shadow: -2px 0 0 0 #00b26b;
}

.nav-icon i {
  font-size: 30px;
}

.nav-icon-text p {
  margin: 3px 0;
  font-size: 11px;
}

#user-box {
  border-top: 1px solid #000000;
  padding: 10px 0;
  text-align: center;
}

#user-box img {
  height: 60px;
  width: 60px;
  border: 1px solid #222326;
  border-radius: 50%;
  overflow: hidden;

}

#user-box p {
  font-size: .7em;
  margin: 5px 0 12px 0;
  color: #D7D9DF;
}

#user-box-user:hover img, #user-box-user:hover p {
  cursor: pointer;
  color: #fff;
  border-color: #fff;
}

#user-box button {
  border: 1px solid #88898c;
  border: none;
  background-color: #151617;
  color: #88898c;
  height: 28px;
  width: 60px;
  font-size: .5em;
  font-weight: 700;
  text-align: center;
  line-height: 0;
}

#user-box button:hover {
  background-color: #0f1010;
  color: #FFFFFF;
}

/* SEARCH */

#search-container {
  position: absolute;
  z-index: 10;
  height: 100%;
  left: 90px;
  opacity: 0.99;
  background-color: #1c1c1f;
  border-left: 1px solid #000;
  width: 220px;
  height: 100%;
  padding: 8px;
  overflow-y: scroll;
}

.search-section-header {
  color: #88898c;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  font-size: 13px;
  letter-spacing: 1px;
  padding-bottom: 8px;
}

#search form {
  text-align: center;
}

#input-container {
  height: 30px;
  padding: 3px;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  background-color: #0f1010;
  color: #88898c;
}

#search-input {
  height: 20px;
  width: 100%;
  border: none;
  margin-top: 5px;
  margin-bottom: 3px;
  padding: 5px;
  background-color: #0f1010;
  color: #DFE0E5;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  font-size: 14px;
}

#search-input::-webkit-input-placeholder {
  border: none;
  outline: none;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  color: #88898c;
  font-size: 13px;
}

.search-header {
  margin-top: 20px;
  margin-bottom: 5px;
}

.search-item {
  height: 38px;
  display: flex;
  align-items: center;
  border-top: 1px solid #0F1010;
  padding: 5px 5px 6px 5px;
  color: #D7D9DF;
  font-size: 13px;
  letter-spacing: .1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-item:hover {
  background-color: #222326;
  color: #FFF;
  cursor: pointer;
}

.search-mini-play {
  margin-left: 2px;
  margin-right: 11px;
  background: url('https://s3.amazonaws.com/adagio-prod/images/play.png') no-repeat;
  height: 22px;
  min-width: 22px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-size: 133% 133%;
  background-position: center;
  filter: invert(100%);
  display: none;
}

.song-search-img {
  margin-left: -3px;
}

.song-search-item:hover img {
  display: none;
}

.song-search-item:hover .search-mini-play {
  display: block;
}

.search-mini-play:hover {
  border-color: #E246AB;
}

.search-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-text-author {
  color: #88898c;
  font-size: 11px;
  letter-spacing: 0.2px;
}

.album-search-img {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  border-radius: 50%;
  border: 1px solid #222326;
}

/* MAIN */

#main-window {
  width: 100%;
  height: 100%;
  min-width: 600px;
  margin-left: 5px;
}

.now-playing {
  width: 250px;
  height: 100%;
  margin-left: 5px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1c1c1f;
}

#audio-player-container {
  height: 100%;
}

.hidden {
  display: none;
}
