/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #0F1010;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}

/*body {
  scrollbar-face-color: green;
  scrollbar-arrow-color:#FFFFFF;
  scrollbar-track-color:#C0B0B0;
  scrollbar-shadow-color:rgb(0,0,0);
  scrollbar-highlight-color:rgb(0,0,0);
  scrollbar-3dlight-color:#808080;
  scrollbar-darkshadow-color:#202020;
}*/

.comp {
  border: 1px solid blue;
  margin: 2px;
  padding: 2px;
}

.comp h6 {
  font-size: 10px;
  color: blue;
}

button {
  border-radius: 256px;

  letter-spacing: .03em;
  text-transform: uppercase;
}

.green-big-btn {
  background-color: #07d159;
  border-color: #07d159;
}

.clear-btn {
  border: 1.5px solid #FFFFFF;
  background: transparent;
}

.big-btn {
  width: 320px;
  height: 41px;
  color: #FFFFFF;
}
