#main-window {
  width: 100%;
  height: 100%;
  min-width: 600px;
  margin-left: 5px;
}

#my-music {
  height: 100%;
  color: #dfe0e6;
}

#my-music main {
  height: calc( 100% - 44px );
}

#my-music nav ul {
  height: 32px;
  display: flex;
  flex-direction: row;
}

#my-music nav li {
  padding: 8px 0;
  margin-right: 15px;
  text-transform: uppercase;
  color: #88898c;
  font-size: 14px;
  letter-spacing: 1.1px;
  transition: color 0.4s;
}

#my-music nav li:hover {
  color: #D7D9DF;
  cursor: pointer;
}

#my-music nav li:first-of-type {
  color: #D7D9DF;
  cursor: pointer;
  box-shadow: 0px 2px 0 0 #80AB27;
  -webkit-box-shadow: 0 2px 0 0 #80AB27;
     -moz-box-shadow: 0 2px 0 0 #80AB27;
}

#playlist-index-container {
  height: 100%;
}

#playlist-index {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

#playlist-index-sidebar {
  height: 100%;
  width: 25%;
  min-width: 250px;
  background-color: #151617;
}

#playlist-index-main {
  width: 100%;
  height: 100%;
  // min-width: 425px;
}


#playlist-index button {
  height: 28px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  line-height: 0;
}

.playlist-index-item {
  display: flex;
  justify-content: flex-start;
  margin: 8px 0 8px 5px;
  padding: 5px 0 5px 2px;
}

.playlist-index-item-container {
  height: 70px;
  border-top: 1px solid #0F1010;
  border-bottom: 1px solid #0F1010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6px;
}

.playlist-index-item-container:hover {
  background-color: #1a1a1c;
}

.selected-playlist {
  background-color: #1a1a1c;
  border-right: 2px solid #80AB27;
}

.playlist-index-item-container a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.playlist-index-new-playlist-plus {
  height: 50px;
  width: 50px;
  padding-left: 9px;
  margin-right: 10px;
  color: #88898c;
  font-size: 36px;
  text-align: center;
  line-height: 54px;
}

.playlist-form-dropdown {
  display: none;
}

.add-playlist {
  position: relative;
}

.add-playlist:hover .playlist-form-dropdown {
  display: block;
  position: absolute;
  left: 2px;
}

.playlist-index-item-img {
  height: 50px;
  width: 50px;
  margin-right: 8px;
}
.playlist-index-item-img img {
  height: 50px;
  width: 50px;
}

.playlist-index-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5px;
  font-size: .8em;
  white-space: nowrap;
  overflow: hidden;
}

.playlist-index-title-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Playlist Detail */

#playlist-detail {
  margin: 0 5px;
  height: 100%;
}

#playlist-detail-header {
  display: flex;
}

.playlist-detail-img {
  margin-right: 10px;
}

.playlist-detail-img img {
  height: 200px;
  width: 200px;
}

#playlist-detail-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#playlist-detail-playlist {
  margin: 15px 0 8px 0;
  color: #88898c;
  font-size: 10px;
}

#playlist-detail-title p {
  font-size: 40px;
  font-weight: 100;
}

#playlist-detail-rename-btn {
  width: 70px;
  font-size: 8px;
  background-color: transparent;
  border: 1px solid #88898c;
  color: #88898c;
}

#playlist-detail-buttons {
  display: flex;
}

#playlist-detail-play-btn {
  width: 100px;
  margin-right: 10px;
  background-color: #84bd00;
  color: #FFFFFF;
}

#playlist-detail-delete-btn {
  width: 80px;
  border: 1px solid #88898c;
  background-color: transparent;
  color: #88898c;
}

#playlist-detail-user {
  border-top: 1px solid #1a1a1c;
  border-bottom: 1px solid #1a1a1c;
  margin: 10px 0 20px 0;
  padding: 11px 5px;
  color: #88898c;
  font-size: .7em;
}

.playlist-user-link {
  color: white;
}

.playlist-user-link:hover {
  cursor: pointer;
  border-bottom: 1px solid #FFFFFF;
}

#songs-index table {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.songs-index-labels th {
  color: #88898c;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  font-size: 12px;
  letter-spacing: 1px;
  padding-bottom: 8px;
}

.songs-index-labels th:last-of-type {
  text-align: left;
  font-size: 14px;
}

.song-index-item {
  font-size: 13px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-index-item td {
  border-top: 1px solid #1a1a1c;
  border-bottom: 1px solid #1a1a1c;
  padding: 11px 0;
}

.song-index-item td:last-of-type {
  color: #88898c;
}

.song-index-item:hover {
  background-color: #1a1a1c;
}

/* */
.playlist-rename-dropdown {
  display: none;
}

#rename-action:hover .playlist-rename-dropdown {
  display: block;
}
/* */


#add-playlist-input {
  height: 22px;
  width: 130px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
  font-size: 12px;
}

#add-playlist-input::-webkit-input-placeholder {
  color: #000000;
  padding: 5px;
}

#create-playlist-btn {
  background-color: #84bd00;
  width: 100px;
}

#playlist-edit-form {
  width: 400px;
}

#rename-playlist-input {
  height: 22px;
  width: 250px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
  font-size: 12px;
}

#rename-playlist-input::-webkit-input-placeholder {
  color: #000000;
  padding: 5px;
}

#rename-playlist-btn {
  background-color: #84bd00;
  width: 100px;
}
