#main-window {
  width: 100%;
  height: 100%;
  min-width: 600px;
}

#my-music {
  height: 100%;
}

#my-music nav ul {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

#my-music nav li {
  padding: 8px;
  margin-right: 10px;
}

#playlist-index {
  display: flex;
  justify-content: flex-start;
}

#playlist-index-sidebar {
  height: 100%;
  width: 25%;
  min-width: 250px;
}

#playlist-index-main {
  width: 100%;
  // min-width: 425px;
}

.playlist-index-item {
  display: flex;
  justify-content: flex-start;
  margin: 8px 0 8px 5px;
}

/**** HELP ****/
/* what HTML is <LINK> */

.playlist-index-item p {
  color: #ffffff;
  text-decoration: none;
}

.playlist-index-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.playlist-index-new-playlist-plus {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.playlist-index-title {
  line-height: 30px;
  font-size: .8em;
}

/* Playlist Detail */

#playlist-detail-header {
  display: flex;
}

#playlist-detail-playlist {
  color: #88898c;
  font-size: 12px;
}

#playlist-detail-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#playlist-detail-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#playlist-detail-buttons button {
  height: 28px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

#playlist-detail-play-btn {
  background-color: #84bd00;
}


#playlist-detail-title {
  line-height: 50px;
  font-size: 48px;
  font-weight: 100;
}

.playlist-detail-img {
  margin-right: 10px;
}

.playlist-detail-img img {
  height: 210px;
  width: 210px;
}

#playlist-detail-user {
  color: #88898c;
  font-size: .7em;
  padding: 5px;
}

.playlist-user-link {
  color: white;
}

#songs-index table {
  width: 100%;
  border: 1px solid red;
}

.songs-index-labels th {
  color: #88898c;
  text-transform: uppercase;
  font-weight: 200;
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
}

.song-index-item {
  font-size: 14px;
  text-align: left;
}

.playlist-form-dropdown {
  display: none;

}

.add-playlist {
  position: relative;
}

.add-playlist:hover .playlist-form-dropdown {
  display: block;
  position: absolute;
  top: -10px;
  left: 0px;
}

.add-playlist:hover .playlist-index-title {
  content: "";
}

#add-playlist-input {
  height: 22px;
  width: 130px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
  font-size: 12px;
}

#add-playlist-input::-webkit-input-placeholder {
  color: #000000;
  padding: 5px;
}

#create-playlist-btn {
  background-color: #84bd00;
  width: 100px;
  height: 28px;
  font-size: 13px;
  font-weight: 500;

}
