#explore-playlists {
  height: 100%;
}

#explore-playlists-users-header {

}

#explore-playlists-users-header h2 {
  margin: 12px 0 9px 0;
  color: #dfe0e6;
  font-size: 48px;
  font-weight: 100;
}

#ep-main {
  width: 100%;
  height: 100%;
}

/* Users Index */

#users-index {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

#users-index-sidebar {
  height: 100%;
  width: 20%;
  min-width: 200px;
  background-color: #151617;
  color: #dfe0e6;
}

#users-index-detail {
  width: 100%;
}

#users-index button {
  height: 28px;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  line-height: 0;
}

.user-index-item-container {
  height: 60px;
  border-top: 1px solid #0F1010;
  border-bottom: 1px solid #0F1010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6px;
}

.user-index-item-container:hover {
  background-color: #1a1a1c;
  color: #FFF;
}

.user-index-item-container:hover i {
  background-color: #1a1a1c;
  color: #FFF;
}

.selected-user {
  background-color: #1a1a1c;
  border-right: 2px solid #80AB27;
}

.user-index-item-container a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.user-index-item {
  display: flex;
  justify-content: flex-start;
  margin: 8px 0 8px 5px;
  padding: 5px 0 5px 2px;
}

.user-index-item-img {
  height: 40px;
  width: 40px;
  margin-right: 5px;

}

.user-index-item-img i {
  font-size: 36px;
  color: #88898c;
}


.user-index-item-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5px;
  font-size: .9em;
  white-space: nowrap;
  overflow: hidden;
}

.user-index-item-name-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-index-item-follower-text {
  font-size: .8em;
  color: #88898c;
}

/* User Detail */

#user-detail {
  margin: 0 5px;
  height: 100%;
}

#user-detail-header {
  display: flex;
  flex-direction: column;
}

#user-detail-header-top {
  display: flex;
}

.user-detail-img {
  margin-right: 10px;
  font-size: 86px;
}

#user-detail-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-detail-user {
  margin-top: 20px;
  color: #88898c;
  font-size: 10px;
}

#user-detail-title p {
  font-size: 40px;
  font-weight: 100;
  color: #DFE0E5;
}

#user-detail-rename-btn {
  width: 70px;
  font-size: 8px;
  background-color: transparent;
  border: 1px solid #88898c;
  color: #88898c;
}

#user-detail-buttons {
  display: flex;
}

#user-detail-follow-btn {
  width: 80px;
  border: 1px solid #88898c;
  margin-left: 3px;
  background-color: transparent;
  color: #DFE0E5;
}
#user-detail-follow-btn:hover {
  color: #ffffff;
  border-color: #80AB27;
}

#playlist-detail-user {
  border-top: 1px solid #1a1a1c;
  border-bottom: 1px solid #1a1a1c;
  margin: 10px 0 20px 0;
  padding: 11px 5px;
  color: #88898c;
  font-size: .7em;
}

.playlist-user-link {
  color: white;
}

.playlist-user-link:hover {
  cursor: pointer;
  border-bottom: 1px solid #FFFFFF;
}
