#welcome-background {
  background: url() no-repeat center center fixed;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),  url('http://localhost:3000/assets/welcome_bg-d04bde75bcdf2716c2219dbfbb11effcac14205ff59aea6b2846e8a5c2872e5f.jpg');
}

#welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 900px;
  height: 120vh;
  margin: 0 auto;
  padding-top: 60px;
  font-size: 14px;
}

#side-form {
  width: 400px;
  height: 370px;
  text-align: center;
}

#side-form h3 {
  font-size: 25px;
}

#side-form p {
  margin-top: 8px;
  font-size: .85em;
}

#side-form p:hover {
  text-decoration: underline;
}

#welcome-logo {
  height: 70px;
  margin-top: 140px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#welcome-logo img {
  width: 70px;
  margin-right: 5px;
}

#welcome-logo p {
  font-size: 3.3em;
  font-weight: 500;
  line-height: 53px;
}

#welcome-logo p:hover {
  text-decoration: none;
}

#welcome-buttons button {
  margin-bottom: 18px;
  width: 320px;
  height: 41px;
  color: #FFFFFF;
}

#landing-page {
  width: 540px;
  height: 380px;
  margin-top: 100px;
  padding-left: 25px;
  border-left: 1.5px solid white;
}

#landing-page h1 {
  margin-top: 40px;
  color: #07d159;
  font-weight: 400;
  font-size: 49px;
}

#landing-page h2 {
  margin-top: 25px;
  font-weight: 100;
  font-size: 28px;
}

#landing-list {
  font-size: 1.25em;
  margin-top: 30px;
}

.landing-list-item {
  display: flex;
}

.landing-list-item i {
  color: #07d159;
  font-size: 1.3em;
  font-weight: 100;
}

.landing-list-check {
  margin-right: 10px;
}

#login {
  margin-top: 80px;
}

.welcome-logo-sm {
  height: 35px;
  margin-bottom: 10px;
  margin-left: -5px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.welcome-logo-sm img {
  width: 35px;
  margin-right: 5px;
}

.welcome-logo-sm h4 {
  font-size: 1.6em;
  font-weight: 500;
  line-height: 37px;
}

#login-errors li {
  display: block;
  height: 20px;
  color: red;
  font-size: .8em;
  margin: 8px auto 5px auto;
}

#login .green-big-btn {
  margin: 10px auto;
  width: 320px;
  height: 41px;
  color: #FFFFFF;
}

#signup-errors li {
  color: red;
  font-size: .8em;
  margin: 3px auto;
}

#signup-errors li:first-of-type {
  margin-top: 8px;
}


.inputs-labels {
  width: 90%;
  text-align: left;
  margin: 15px auto;
}

.inputs-labels label {
  color: #a0a0a0;
  font-size: .95em;
  margin-top: 15px;
}

.inputs-labels input {
  width: 100%;
  border-bottom: 1px solid #fff;
  margin: 10px 0;
  padding-bottom: 8px;
  background-color: transparent;
  color: #FFFFFF;
  font-weight: 400;
}

.inputs-labels input:focus {
    color: #FFFFFF;
}

::-webkit-input-placeholder {
  color: #FFFFFF;
}
