<!DOCTYPE html>
<html>
  <head>
    <title>Adagio</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://use.fontawesome.com/2425e0462d.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
